.toolBtn .el-dialog__body{
	height: 350px;
	overflow: auto;
	padding: 0px 20px;
	border-bottom: #e2e2e2 solid 1px;
	box-sizing: border-box;
}
.fgbtn .el-button{
	float: left;
	min-width: 57px;
	height: 28px;
	line-height: 28px;
	border:#409EFF solid 1px;
	border-radius:4px;
	text-align: center;
	color:#409EFF;
	margin-top: 6px;
	margin-right:10px;
	cursor: pointer;
	transition: all .3s ease-in;
	padding: 0px;
	font-size: 12px;
}
.fgbtn .el-button:hover{
	background:#409EFF;
	color:#fff;
}
.mRight .el-select{
	width: 100%;
}
.mRight .el-date-editor{
	width: 100%;
}